
<include file="./header" title="{$title}" />
<div data-role="page">
  <div data-role="header">
  <a href="/index.php/Admin/index/index" class="ui-btn ui-icon-home ui-btn-icon-left">中心</a>
    <h1>修改课题</h1><a href="#" data-role="button" data-rel="back">返回</a>
  </div> 
  <div data-role="content">
<FORM method="post" action="__URL__/update" data-ajax="false">
标题：<INPUT type="text" name="title" value="{$t_title}"><br/>
内容：<TEXTAREA name="content" rows="5" cols="45">{$content}</TEXTAREA><br/>
<INPUT type="hidden" name="id" value="{$id}">
<INPUT type="submit" value="提交" data-inline="true">
</FORM><a href="/index.php/Admin/Course/deleteIt/id/{$id}" data-ajax="false">删除</a>
</br>
上次修改时间：{$time}
</div>
  <div data-role="footer">
  <h1>课程设计选课系统</h1>
  </div>
</div> 
<include file="./footer" />
