<include file="./header" title="{$title}" />


<div data-role="page">
  <div data-role="header">
  <a href="/index.php/Student/index/index" class="ui-btn ui-icon-home ui-btn-icon-left">中心</a>
    <h1>搜索结果</h1><a href="#" data-role="button" data-rel="back">返回</a>
  </div>

 <div data-role="content">
 <ul data-role="listview" data-inset="true">
 <li data-role="list-divider">{$title}<span class="ui-li-count">{$count}</span></li>
<volist name="result" id="vo" offset="0" length='5' empty='目前没有数据！'>
 <li>
<a href="/index.php/Student/Course/index/id/{$vo.course_id}">{$vo.course_title}</a>
</li>
</volist>
 </ul>
  </div>
  <div data-role="footer">
  <h1>课程设计选课系统</h1>
  </div>
</div> 

<include file="./footer" />